<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>axios</title>
    <script src="../libs/vue.js"></script>
    <script src="../libs/axios.min.js"></script>
    <script src="../libs/vue-resource.min.js"></script>

    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>

    <div id="app">
        <button @click="send">发送ajax请求</button>
        <button @click="simple">发送 axios.post 请求</button>

        <pre></pre>

        返回数据：{{response}}

        <pre></pre>

        Github ID: <input type="text" v-model="uid">
        <button @click="getUserById(uid)">获取指定 github 账户信息并展示</button>

        <div v-if="hasUid">当前 {{uid}} 下的账户信息：</div>
        <p v-cloak>{{uidInfor}}</p>

        <input type="text" placeholder="请输入搜索内容" v-model="keyWord" />
        <button @click="sendjsonp">360搜索</button>
        <pre></pre>
        360搜索返回数据： {{responseData}}

        <pre></pre>

        <input type="text" placeholder="请输入搜索内容" v-model="baidusrh">
        <button @click="sendjsonp2">百度搜索</button>
        <pre></pre>
        百度搜索返回数据：{{responseBaidu}}
    </div>

    <script>
        /**
         * http://202.109.164.59/EpointZBService/api/Iphone/GetCode
         */

        const requestData = JSON.stringify({
            ValidateData: 'Epoint_WebSerivce_**0601',
            paras: {
                CodeName: '界别'
            }
        });
        const url = 'http://202.109.164.59/EpointZBService/api/Iphone/GetCode';

        new Vue({
            el: '#app',
            data: {
                response: '',
                uid: '',
                hasUid: false,
                uidInfor: '',
                keyWord: '',
                responseData: '',
                baidusrh: '',
                responseBaidu: ''
            },
            methods: {
                send() {
                    const that = this;

                    axios({
                        method: 'post',
                        url: url,
                        data: requestData,
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(res => {
                        that.response = res.data;
                    }).catch(err => {
                        console.log(err);
                    });
                },

                simple() {
                    const that = this;

                    axios.post(url, requestData, {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(res => {
                        that.response = res.data;
                    }).catch(err => {
                        console.log(err);
                    });
                },

                getUserById(uid) {
                    if (!uid) {
                        alert('请输入 GitHub ID');
                        return;
                    }

                    const that = this;

                    axios.get('https://api.github.com/users/' + uid)
                        .then(function (response) {
                            that.uidInfor = response.data;
                        });
                },

                sendjsonp() {
                    const url = 'https://sug.so.360.cn/suggest?callback=suggest_so&encodein=utf-8&encodeout=utf-8&format=json&fields=word';
                    const sendUrl = url.slice(0, url.indexOf('?'));
                    const that = this;
                    let params = url.slice(url.indexOf('?') + 1).split('&');
                    let result = {};

                    params.forEach(function(e, i) {
                        const itemArr = e.split('=');

                        result[itemArr[0]] = itemArr[1];
                    });

                    result.word = this.keyWord;

                    this.$http.jsonp(sendUrl, {
                        params: result
                    })
                    .then(function(response) {
                        that.responseData = response.body.result;
                    }, function(err) {
                        throw new Error(err);
                    });
                },

                sendjsonp2() {
                    const url = 'https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su?json=1&p=3&sid=1438_21086_26350_20929&req=2&csor=3';
                    const sendUrl = url.slice(0, url.indexOf('?'));
                    const that = this;
                    let params = url.slice(url.indexOf('?') + 1).split('&');
                    let result = {};

                    params.forEach(function(e, i) {
                        const itemArr = e.split('=');

                        result[itemArr[0]] = itemArr[1];
                    });

                    result.wd = this.baidusrh;

                    this.$http.jsonp(sendUrl, {
                        params: result,
                        jsonp: 'cb' // 修改 JSONP 参数名叫 cb，默认jsonp的参数名叫 callback
                    })
                    .then(res => {
                        that.responseBaidu = res.body.g;
                    }, err => {
                        console.log(err);
                    });
                }
            }
        });
    </script>
</body>
</html>
